############### BEGIN REDIS ##############

## STANDALONE
# REDIS_CONNECTION_URL=redis://localhost:6379
# REDIS_TYPE=standalone

## CLUSTER
# Cách nhau bởi dấu ;
REDIS_CONNECTION_URL="redis://localhost:6379;redis://localhost:6380;redis://localhost:6381"
REDIS_TYPE=cluster

############### END REDIS ##############a

MONGO_CONNECTION_URL=mongodb://localhost:27017
API_KEY=uniclass
FRONTEND_DOMAIN=https://game.uniclass.vn

KAFKA_BROKERS="192.168.1.204:30161,192.168.1.202:32658,192.168.1.206:30977"
KAFKA_USERNAME=user_k12
KAFKA_PASSWORD="PPaLjjU7Xb1kWQ=="
KAFKA_AUTH=false
KAFKA_CLIENT_ID="uniclass-bloocket-game-backend"