.countdown-timer {
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: countdown-anim 1s ease-in-out infinite;
  color: #57FF70;
}

@keyframes countdown-anim {
  from {
    font-size: 8rem;
    opacity: 0;
  }
  to {
    font-size: 10rem;
    opacity: 0.9;
  }
}
