.game_container {
  font-family: var(--font-geist-sans);
  width: 100vw; /* 100% chiều rộng của viewport */
  height: 100vh; /* 100% chiều cao của viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}
